/* Item List Styles */
.item-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-list li {
    /* background: #f9f9f9; */
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    transition: background-color 0.3s;
}

.item-list li:hover {
    background-color: #7c7c7c;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
}

.pagination .step-links a {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.pagination .step-links a:hover {
    background-color: #0056b3;
}

.pagination .current {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f1f1f1;
}